body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, #1c1c2e,#088fce);;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1{
    margin-bottom: 30px;
    color: #088fce;
    text-align: center;
}
.logout-btn{
    margin-bottom: 20px;
    padding: 8px;
    background-color: #088fce;
    color: #fff;
    border: none;
}
.container{
    background: #23233a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

h3{
    color: #fff;
}
table{
    width: 100%;
    border-collapse: collapse; 
    color: #fff;
}
table th,table td{
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}
table th{
    background-color: #088fce;
    color: #fff;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
}
.button-container{
    display: flex; 
    gap: 10px; 
    justify-content: start; 
    align-items: center; /
}
button.approve-btn{
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px;
    background-color: #28a745;
    color: #fff;
}
button.reject-btn {
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px;
    background-color: #dc3545;
    color: #fff;
}

.reject-btn:hover, .approve-btn:hover {
    opacity: 0.9; 
}
